version: 2.1
orbs:
  docker: circleci/docker@1.3.0
  redhat-openshift: circleci/redhat-openshift@0.2.0
  kubernetes: circleci/kubernetes@0.11.0

jobs:
  dependencies:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - restore_cache:
          keys: 
            - v1-repo-{{ checksum "package-lock.json" }}
      - run:
          name: Install dependencies with NPM
          command: npm install
      - save_cache:
          key: v1-repo-{{ checksum "package-lock.json" }}
          paths:
            - "node_modules"
      - persist_to_workspace:
          root: .
          paths:
            - "node_modules"

  lint:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Run lint
          command: npm run lint

  unit_test:
    docker:
      - image: circleci/node:12
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Run tests
          command: npm test
      - store_artifacts: 
          path: test-results
      - store_test_results:
          path: test-results

  create-local-cluster:
    executor: redhat-openshift/machine-for-local-cluster
    steps:
      - redhat-openshift/create-local-cluster-with-oc:
          skip-registry-check: true
      - redhat-openshift/login-and-update-kubeconfig:
          insecure-skip-tls-verify: true
          openshift-platform-version: 4.x
          password: password
          server-address: 'https://127.0.0.1:8443'
          username: dev1
      - run:
          name: Test the cluster
          command: |
            oc new-project localclustertestproject
            oc new-app kurumai/circleci-demo-javascript-react-app:latest
            kubectl get services

  deploy_to_remote_openshift:
    executor: redhat-openshift/default
    steps:
      - redhat-openshift/login-and-update-kubeconfig:
          insecure-skip-tls-verify: true
          openshift-platform-version: 4.x
          password: $OPENSHIFT_PASSWORD
          server-address: "api.demo.openshift.kurumai.work:6443"
          username: $OPENSHIFT_USER
          project: "hello-world-project"
      - run:
          name: Create example k8s deployment yaml file
          command: |
            cat \<<- EOF > deployment.yaml
            apiVersion: apps/v1
            kind: Deployment
            metadata:
              name: react-deployment
            spec:
              selector:
                matchLabels:
                  app: react
              replicas: 3
              template:
                metadata:
                  labels:
                    app: react
                spec:
                  containers:
                  - name: react
                    image: kurumai/circleci-demo-javascript-react-app:latest
                    ports:
                    - containerPort: 5000
            EOF
      - kubernetes/create-or-update-resource:
          get-rollout-status: true
          resource-file-path: deployment.yaml
          resource-name: deployment/react-deployment

workflows:
  version: 2
  service_update:
    jobs:
      - dependencies
      - lint:
          requires:
            - dependencies
      - unit_test:
          requires:
            - dependencies
      - docker/publish:
          image: kurumai/$CIRCLE_PROJECT_REPONAME
          registry: "docker.io"
          cache_from: kurumai/$CIRCLE_PROJECT_REPONAME:latest
          tag: $CIRCLE_SHA1,"latest"
          requires:
            - lint
            - unit_test
      - create-local-cluster:
          requires:
            - docker/publish
      - deploy_to_remote_openshift:
          requires:
            - docker/publish
